[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cloudevents = "*"
sh = "*"
kubernetes = "==21.7.0"

[dev-packages]
black = "*"
pytest = "*"
scipy = "*"
feast = {extras = ["aws"], version = "*"}

[requires]
python_version = "3.10"
